<div class="bookBlock"></div>
<div class="card">
    <div class="card-body">
      <h2 class="card-title">Title:{{title}}</h2>
      <h3 class="card-author">Author:{{author}}</h3>
      <h3 class="card-genre">Genre:{{genre}}</h3>
    </div>
    <button class="button save-book" data-id="{{this.id}}">Save</button>
   <button class="button delete-book" data-id="{{this.id}}">Remove</button>
  </div>
</div>
