<h3 class="mb-1">Your recommendations.</h3>

<div class="bookBlock"></div>
<div class="card">
    <div class="card-body">
      <h2 class="card-title">Title:{{title}}</h2>
      <h3 class="card-author">Author:{{author}}</h3>
      <h3 class="card-genre">Genre:{{genre}}</h3>
    </div>
    <button class="button save-book" data-id="{{this.id}}">Save</button>
   <button class="button delete-book" data-id="{{this.id}}">Remove</button>
  </div>
</div>

<h3 class="mb-1">Your recommendations.</h3>
    <div class="container flex-wrap">
    <div class="list-group flex-wrap">
      <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
      
          <h5>{{title}} <br>By {{author}}</h5> <small class="text-muted">3 days ago</small><i class="far fa-star btn"></i><i class="far fa-trash-alt btn"></i>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam itaque nostrum facilis suscipit doloremque maiores aut natus velit quo expedita, in tempore perferendis et. Aliquid harum porro dignissimos numquam dolores?</p>
        <small id="latin-omit">Donec id elit non mi porta.</small>
        <img id="rec1-img" alt="rec1-img" class="img flex-wrap" src="assets/imgs/used-imgs/book-covers/captain-underpants-book-cover.jpg">
      </a>

      <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{title}} <br>By {{author}}</h5>
          <small class="text-muted">3 days ago</small><i class="far fa-star btn"></i><i class="far fa-trash-alt btn"></i>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-hide">Donec id elit non mi porta.</small>
        <img id="rec2-img" alt="rec2-img" class="img flex-wrap" src="assets/imgs/used-imgs/book-covers/captain-underpants-book-cover.jpg">
      </a>
      
      <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{title}} <br>By {{author}}</h5>
          <small class="text-muted" >3 days ago</small><i class="far fa-star btn"></i><i class="far fa-trash-alt btn"></i>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted" id="latin-omit">Donec id elit non mi porta.</small>
        <img id="rec3-img" alt="rec3-img" class="img flex-wrap" src="assets/imgs/used-imgs/book-covers/captain-underpants-book-cover.jpg">
      </a>
    </div>
</div>